* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
  font-family: Georgia, Serif;
  font-weight: 200;
  line-height: 1.2em;
  color: rgb(83, 87, 101);
  text-align: center;
}

body {
    background-color: rgb(247, 249, 251);
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 98%;
  margin: 0 auto;
}



.section {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.menu {
  background-color: #5995DA;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.projects-menu-link {
  margin-left: auto;
  margin-right: 10px;
}



.header {
  background-color: #B2D6FF;
  height: auto;
}


.profile-photo-container {
  height: 150px;
  width: 80%;
  margin: -75px 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: rgb(247, 249, 251);
}

.profile-photo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
  border: solid 2px white;
}

.about {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 75px 10px 0;
}

.about > * {
  margin: 10px 0;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.devicons {
	font-size: 3em; 
}
.devicons:hover {
	color: rgb(255, 87, 34); cursor: default;
}


.recent {
  background-color: #C8C6FA;
  display: flex;
  flex-direction: column;
  height: auto;

}

.recent-1,
.recent-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  text-align: center;
}

.recent-2 {
  flex-direction: row-reverse;
}

.recent-thumbnail {
  border: solid 1px;
  height: 250px;
  width: 250px;
}

.recent-content {
  max-width: 70%;
}

.contact {
  background-color: #D6E9FE;
}

.project {
  border: solid 1px;
  position: relative;
  overflow: hidden;
}



.project-thumbnail {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.project-cover {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s linear;
}

.project-cover:hover {
  opacity: 0.9;
  cursor: pointer;
}

.project-thumbnail > img {
  max-height: 100%;
  max-width: 100%;  
}


.project-1 {
  background-color: #F5CF8E;
}

.project-2 {
  background-color: #F09A9D;
}

.project-3 {
  background-color: #C8C6FA;
}

.footer {
  background-color: #5995DA;
  height: 60px;
}


/* Mobile Styles */
@media only screen and (max-width: 500px) {
  .recent-1,
  .recent-2 {
    flex-direction: column;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .project {
    width: 50%;
  }
  .recent-1,
  .recent-2 {
    flex-direction: column;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .project {
    width: 33.3%;
  }

  .contact {
    height: 200px;
  }
}

