
.planetscape-display-area {
  margin: auto;
  position: relative;
  overflow: hidden;
  opacity: 0.7;
}

.sky {
  border: solid 1px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #001848;
  transform: rotate(160deg);
}



.star {
  position: absolute;
  z-index: -1;
  color: white;
  font-size: 10px;
}


.planet {
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  background-color: #7fa7e8;
  border: solid 1px lightgray;
}

.land {
  background-color: #70c66f;
  position: absolute;
}

.land-1 {
  border-radius: 90% 50% 50% 60%;
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
}

.land-2 {
  border-radius: 90% 50% 50% 60%;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
}

.land-3 {
  border-radius: 90% 50% 50% 60%;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
}



/***Animations***/

.spin {
  animation: spin 60s linear infinite;
}



@keyframes spin {
  50% {
    background-color: #87CEFA;
  }
  100% {
    transform: rotate(540deg);
    -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
    background-color: #001848;
  }
}


